# WeRateDogs Twitter Data Wrangling and Analysis Project
DECI L3 FINAL PROJECT üë®üèª‚Äçüéì

Made by Mohamed Elsayed Zaky üòÅ

## Prepration üç∞

In [1]:
# Main Libraires
import pandas as pd
import numpy as np
import requests
# Twitter API
import tweepy
import json
# to read tsv file after downlading it using requests
import io
# .env for API keys
from dotenv import load_dotenv
import os

## 1Ô∏è‚É£ Gathering Data üïµüèª‚Äç‚ôÇÔ∏è

1. Reading `twitter-archive-enhanced.csv` file

In [2]:
tae = pd.read_csv("twitter-archive-enhanced.csv")

2. Reading the `image_predictions.tsv` file

In [3]:
# the url of the image_predictions.tsv file
image_predictions_url = "https://d17h27t6h515a5.cloudfront.net/topher/2017/August/599fd2ad_image-predictions/image-predictions.tsv"
# import it in pandas
image_predictions = requests.get(image_predictions_url)

# Using IO library convert the tsv file to file like object to be able to read
content = image_predictions.content.decode('utf-8')
file_like_object = io.StringIO(content)

In [4]:
nlp = pd.read_csv(file_like_object, sep="\t")

3. Setup Twitter API for addtional data

Note:
- **<div style="color: #e91e63">Because Twitter API Free Plan doesn't offer get_status so I am forced to use the "tweets_json.txt" file in the classroom</div>**

In [5]:
# Gather Three colums `tweet_id`, `retweet_count`, `favorite_count`
tweet_id = []
retweet_count = []
favorite_count = []

# Read twets_json.txt
with open("tweets_json.txt", "r") as file:
  for line in file:
    # Read line as dict
    data = json.loads(line)
    # append data to the list
    tweet_id.append(data['id'])
    retweet_count.append(data['retweet_count'])
    favorite_count.append(data['favorite_count'])
    
tweets_data = {
  "Tweet id": tweet_id,
  "Retweet count": retweet_count,
  "Favorite count": favorite_count,
}

twitter_df = pd.DataFrame(tweets_data)

## 2Ô∏è‚É£ Assessing üë®üèª‚Äçüíª

**<h3 style="border-left: 5px solid #673ab7; padding: 0 20px">First: Twitter Archived Enhanced üöÄ<h3>**

Let's see the head of the dataset üïµüèª‚Äç‚ôÄÔ∏è

In [6]:
tae

,tweet_id,in_reply_to_status_id,in_reply_to_user_id,timestamp,source,text,retweeted_status_id,retweeted_status_user_id,retweeted_status_timestamp,expanded_urls,rating_numerator,rating_denominator,name,doggo,floofer,pupper,puppo
0,892420643555336193,NaN,NaN,2017-08-01 16:23:56 +0000,"<a href=""http://twitter.com/download/iphone"" r...",This is Phineas. He's a mystical boy. Only eve...,NaN,NaN,NaN,https://twitter.com/dog_rates/status/892420643...,13,10,Phineas,NaN,NaN,NaN,NaN
1,892177421306343426,NaN,NaN,2017-08-01 00:17:27 +0000,"<a href=""http://twitter.com/download/iphone"" r...",This is Tilly. She's just checking pup on you....,NaN,NaN,NaN,https://twitter.com/dog_rates/status/892177421...,13,10,Tilly,NaN,NaN,NaN,NaN
2,891815181378084864,NaN,NaN,2017-07-31 00:18:03 +0000,"<a href=""http://twitter.com/download/iphone"" r...",This is Archie. He is a rare Norwegian Pouncin...,NaN,NaN,NaN,https://twitter.com/dog_rates/status/891815181...,12,10,Archie,NaN,NaN,NaN,NaN
3,891689557279858688,NaN,NaN,2017-07-30 15:58:51 +0000,"<a href=""http://twitter.com/download/iphone"" r...",This is Darla. She commenced a snooze mid meal...,NaN,NaN,NaN,https://twitter.com/dog_rates/status/891689557...,13,10,Darla,NaN,NaN,NaN,NaN
4,891327558926688256,NaN,NaN,2017-07-29 16:00:24 +0000,"<a href=""http://twitter.com/download/iphone"" r...",This is Franklin. He would like you to stop ca...,NaN,NaN,NaN,https://twitter.com/dog_rates/status/891327558...,12,10,Franklin,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2351,666049248165822465,NaN,NaN,2015-11-16 00:24:50 +0000,"<a href=""http://twitter.com/download/iphone"" r...",Here we have a 1949 1st generation vulpix. Enj...,NaN,NaN,NaN,https://twitter.com/dog_rates/status/666049248...,5,10,NaN,NaN,NaN,NaN,NaN
2352,666044226329800704,NaN,NaN,2015-11-16 00:04:52 +0000,"<a href=""http://twitter.com/download/iphone"" r...",This is a purebred Piers Morgan. Loves to Netf...,NaN,NaN,NaN,https://twitter.com/dog_rates/status/666044226...,6,10,a,NaN,NaN,NaN,NaN
2353,666033412701032449,NaN,NaN,2015-11-15 23:21:54 +0000,"<a href=""http://twitter.com/download/iphone"" r...",Here is a very happy pup. Big fan of well-main...,NaN,NaN,NaN,https://twitter.com/dog_rates/status/666033412...,9,10,a,NaN,NaN,NaN,NaN
2354,666029285002620928,NaN,NaN,2015-11-15 23:05:30 +0000,"<a href=""http://twitter.com/download/iphone"" r...",This is a western brown Mitsubishi terrier. Up...,NaN,NaN,NaN,https://twitter.com/dog_rates/status/666029285...,7,10,a,NaN,NaN,NaN,NaN
2355,666020888022790149,NaN,NaN,2015-11-15 22:32:08 +0000,"<a href=""http://twitter.com/download/iphone"" r...",Here we have a Japanese Irish Setter. Lost eye...,NaN,NaN,NaN,https://twitter.com/dog_rates/status/666020888...,8,10,NaN,NaN,NaN,NaN,NaN

Hmmm! `in_reply_to_status_id`, `in_reply_to_user_id`, `retweeted_status_id`, `retweeted_status_user_id` and `retweeted_status_timestamp`  seems to be the majority is null let's check that!

In [7]:
tae['in_reply_to_status_id'].isna().value_counts()

in_reply_to_status_id
True     2278
False      78
Name: count, dtype: int64

In [8]:
tae.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2356 entries, 0 to 2355
Data columns (total 17 columns):
 #   Column                      Non-Null Count  Dtype
---  ------                      --------------  -----
 0   tweet_id                    2356 non-null   int64
 1   in_reply_to_status_id       78 non-null     float64
 2   in_reply_to_user_id         78 non-null     float64
 3   timestamp                   2356 non-null   object
 4   source                      2356 non-null   object
 5   text                        2356 non-null   object
 6   retweeted_status_id         181 non-null    float64
 7   retweeted_status_user_id    181 non-null    float64
 8   retweeted_status_timestamp  181 non-null    object
 9   expanded_urls               2297 non-null   object
 10  rating_numerator            2356 non-null   int64
 11  rating_denominator          2356 non-null   int64
 12  name                        1611 non-null   object
 13  doggo                       97 non-null     object
 14  floofer                     10 non-null     object
 15  pupper                      257 non-null    object
 16  puppo                       30 non-null     object
dtypes: float64(4), int64(3), object(10)
memory usage: 313.0+ KB

There are about 181 retweet let's check that

In [9]:
tae[~tae["retweeted_status_id"].isna()]

,tweet_id,in_reply_to_status_id,in_reply_to_user_id,timestamp,source,text,retweeted_status_id,retweeted_status_user_id,retweeted_status_timestamp,expanded_urls,rating_numerator,rating_denominator,name,doggo,floofer,pupper,puppo
19,888202515573088257,NaN,NaN,2017-07-21 01:02:36 +0000,"<a href=""http://twitter.com/download/iphone"" r...",RT @dog_rates: This is Canela. She attempted s...,8.874740e+17,4.196984e+09,2017-07-19 00:47:34 +0000,https://twitter.com/dog_rates/status/887473957...,13,10,Canela,NaN,NaN,NaN,NaN
32,886054160059072513,NaN,NaN,2017-07-15 02:45:48 +0000,"<a href=""http://twitter.com/download/iphone"" r...",RT @Athletics: 12/10 #BATP https://t.co/WxwJmv...,8.860537e+17,1.960740e+07,2017-07-15 02:44:07 +0000,https://twitter.com/dog_rates/status/886053434...,12,10,NaN,NaN,NaN,NaN,NaN
36,885311592912609280,NaN,NaN,2017-07-13 01:35:06 +0000,"<a href=""http://twitter.com/download/iphone"" r...",RT @dog_rates: This is Lilly. She just paralle...,8.305833e+17,4.196984e+09,2017-02-12 01:04:29 +0000,https://twitter.com/dog_rates/status/830583320...,13,10,Lilly,NaN,NaN,NaN,NaN
68,879130579576475649,NaN,NaN,2017-06-26 00:13:58 +0000,"<a href=""http://twitter.com/download/iphone"" r...",RT @dog_rates: This is Emmy. She was adopted t...,8.780576e+17,4.196984e+09,2017-06-23 01:10:23 +0000,https://twitter.com/dog_rates/status/878057613...,14,10,Emmy,NaN,NaN,NaN,NaN
73,878404777348136964,NaN,NaN,2017-06-24 00:09:53 +0000,"<a href=""http://twitter.com/download/iphone"" r...",RT @dog_rates: Meet Shadow. In an attempt to r...,8.782815e+17,4.196984e+09,2017-06-23 16:00:04 +0000,"https://www.gofundme.com/3yd6y1c,https://twitt...",13,10,Shadow,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1023,746521445350707200,NaN,NaN,2016-06-25 01:52:36 +0000,"<a href=""http://twitter.com/download/iphone"" r...",RT @dog_rates: This is Shaggy. He knows exactl...,6.678667e+17,4.196984e+09,2015-11-21 00:46:50 +0000,https://twitter.com/dog_rates/status/667866724...,10,10,Shaggy,NaN,NaN,NaN,NaN
1043,743835915802583040,NaN,NaN,2016-06-17 16:01:16 +0000,"<a href=""http://twitter.com/download/iphone"" r...",RT @dog_rates: Extremely intelligent dog here....,6.671383e+17,4.196984e+09,2015-11-19 00:32:12 +0000,https://twitter.com/dog_rates/status/667138269...,10,10,NaN,NaN,NaN,NaN,NaN
1242,711998809858043904,NaN,NaN,2016-03-21 19:31:59 +0000,"<a href=""http://twitter.com/download/iphone"" r...",RT @twitter: @dog_rates Awesome Tweet! 12/10. ...,7.119983e+17,7.832140e+05,2016-03-21 19:29:52 +0000,https://twitter.com/twitter/status/71199827977...,12,10,NaN,NaN,NaN,NaN,NaN
2259,667550904950915073,NaN,NaN,2015-11-20 03:51:52 +0000,"<a href=""http://twitter.com"" rel=""nofollow"">Tw...",RT @dogratingrating: Exceptional talent. Origi...,6.675487e+17,4.296832e+09,2015-11-20 03:43:06 +0000,https://twitter.com/dogratingrating/status/667...,12,10,NaN,NaN,NaN,NaN,NaN
2260,667550882905632768,NaN,NaN,2015-11-20 03:51:47 +0000,"<a href=""http://twitter.com"" rel=""nofollow"">Tw...",RT @dogratingrating: Unoriginal idea. Blatant ...,6.675484e+17,4.296832e+09,2015-11-20 03:41:59 +0000,https://twitter.com/dogratingrating/status/667...,5,10,NaN,NaN,NaN,NaN,NaN

Let's also check the repalyed tweets

In [10]:
tae[~tae["in_reply_to_status_id"].isna()]

,tweet_id,in_reply_to_status_id,in_reply_to_user_id,timestamp,source,text,retweeted_status_id,retweeted_status_user_id,retweeted_status_timestamp,expanded_urls,rating_numerator,rating_denominator,name,doggo,floofer,pupper,puppo
30,886267009285017600,8.862664e+17,2.281182e+09,2017-07-15 16:51:35 +0000,"<a href=""http://twitter.com/download/iphone"" r...",@NonWhiteHat @MayhewMayhem omg hello tanner yo...,NaN,NaN,NaN,NaN,12,10,NaN,NaN,NaN,NaN,NaN
55,881633300179243008,8.816070e+17,4.738443e+07,2017-07-02 21:58:53 +0000,"<a href=""http://twitter.com/download/iphone"" r...",@roushfenway These are good dogs but 17/10 is ...,NaN,NaN,NaN,NaN,17,10,NaN,NaN,NaN,NaN,NaN
64,879674319642796034,8.795538e+17,3.105441e+09,2017-06-27 12:14:36 +0000,"<a href=""http://twitter.com/download/iphone"" r...",@RealKentMurphy 14/10 confirmed,NaN,NaN,NaN,NaN,14,10,NaN,NaN,NaN,NaN,NaN
113,870726314365509632,8.707262e+17,1.648776e+07,2017-06-02 19:38:25 +0000,"<a href=""http://twitter.com/download/iphone"" r...",@ComplicitOwl @ShopWeRateDogs &gt;10/10 is res...,NaN,NaN,NaN,NaN,10,10,NaN,NaN,NaN,NaN,NaN
148,863427515083354112,8.634256e+17,7.759620e+07,2017-05-13 16:15:35 +0000,"<a href=""http://twitter.com/download/iphone"" r...",@Jack_Septic_Eye I'd need a few more pics to p...,NaN,NaN,NaN,NaN,12,10,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2038,671550332464455680,6.715449e+17,4.196984e+09,2015-12-01 04:44:10 +0000,"<a href=""http://twitter.com/download/iphone"" r...",After 22 minutes of careful deliberation this ...,NaN,NaN,NaN,NaN,1,10,NaN,NaN,NaN,NaN,NaN
2149,669684865554620416,6.693544e+17,4.196984e+09,2015-11-26 01:11:28 +0000,"<a href=""http://twitter.com/download/iphone"" r...",After countless hours of research and hundreds...,NaN,NaN,NaN,NaN,11,10,NaN,NaN,NaN,NaN,NaN
2169,669353438988365824,6.678065e+17,4.196984e+09,2015-11-25 03:14:30 +0000,"<a href=""http://twitter.com/download/iphone"" r...",This is Tessa. She is also very pleased after ...,NaN,NaN,NaN,https://twitter.com/dog_rates/status/669353438...,10,10,Tessa,NaN,NaN,NaN,NaN
2189,668967877119254528,6.689207e+17,2.143566e+07,2015-11-24 01:42:25 +0000,"<a href=""http://twitter.com/download/iphone"" r...",12/10 good shit Bubka\n@wane15,NaN,NaN,NaN,NaN,12,10,NaN,NaN,NaN,NaN,NaN
2298,667070482143944705,6.670655e+17,4.196984e+09,2015-11-18 20:02:51 +0000,"<a href=""http://twitter.com/download/iphone"" r...",After much debate this dog is being upgraded t...,NaN,NaN,NaN,NaN,10,10,NaN,NaN,NaN,NaN,NaN

There are also 78 rows or entry is a replay

I observed that `expanded_urls` are non except for row number `2169` so let's check that

In [11]:
tae["expanded_urls"][2169]

'https://twitter.com/dog_rates/status/669353438988365824/photo/1'

After check it. It's a replay in a thread method. The @dog_rates account makes two tweets for the same dog in a thread.

So let's check threads

In [12]:
replay_tae = tae[~tae["in_reply_to_status_id"].isna()]
replay_tae["name"].isna().value_counts()

name
True     77
False     1
Name: count, dtype: int64

In [13]:
replay_tae[replay_tae["name"].isna() == False]

,tweet_id,in_reply_to_status_id,in_reply_to_user_id,timestamp,source,text,retweeted_status_id,retweeted_status_user_id,retweeted_status_timestamp,expanded_urls,rating_numerator,rating_denominator,name,doggo,floofer,pupper,puppo
2169,669353438988365824,6.678065e+17,4.196984e+09,2015-11-25 03:14:30 +0000,"<a href=""http://twitter.com/download/iphone"" r...",This is Tessa. She is also very pleased after ...,NaN,NaN,NaN,https://twitter.com/dog_rates/status/669353438...,10,10,Tessa,NaN,NaN,NaN,NaN

So if we checked the name it by the name only. As there are some links not working. We will find that `2169` is the only replay we need.

Let's see the `name` column

In [14]:
def print_max_rows(func):
  pd.set_option("display.max_rows", None) # to display max rows
  print(func)
  pd.reset_option("display.max_rows", None) # reset settings

In [15]:
print_max_rows(tae["name"].value_counts())

name
a                 55
Charlie           12
Oliver            11
Cooper            11
Lucy              11
Lola              10
Tucker            10
Penny             10
Bo                 9
Winston            9
the                8
Sadie              8
Daisy              7
Buddy              7
Bailey             7
Toby               7
an                 7
Bella              6
Jack               6
Oscar              6
Rusty              6
Stanley            6
Scout              6
Jax                6
Leo                6
Milo               6
Koda               6
Dave               6
Oakley             5
Larry              5
Sunny              5
Louis              5
Chester            5
George             5
Alfie              5
Finn               5
very               5
Sammy              5
Gus                5
Phil               5
Bentley            5
Sampson            4
Reginald           4
quite              4
Boomer             4
Reggie             4
Loki               4
Dexter             4
Duke               4
Luna               4
Carl               4
Ruby               4
Brody              4
Sophie             4
Clark              4
just               4
Riley              4
Jerry              4
Maggie             4
Chip               4
Maddie             4
Winnie             4
Hank               4
Walter             4
Scooter            4
Shadow             4
Moose              4
Clarence           4
Bruce              4
Derek              4
Beau               4
Maximus            4
Jeffrey            4
Gerald             4
Gary               4
Bear               4
Cassie             4
Archie             4
one                4
Ted                3
Colby              3
Wyatt              3
Coco               3
Calvin             3
Frankie            3
Wilson             3
Earl               3
Lily               3
Rory               3
Waffles            3
Louie              3
Zeke               3
Kyle               3
Peaches            3
Zoey               3
Lorenzo            3
Nala               3
Vincent            3
Max                3
Rosie              3
Arnie              3
Steven             3
Ellie              3
Jimothy            3
Paisley            3
Reese              3
Doug               3
Wallace            3
Gizmo              3
Otis               3
Samson             3
Mia                3
Malcolm            3
Klevin             3
Sebastian          3
Olive              3
Levi               2
Lennon             2
Betty              2
Herschel           2
Timison            2
Leela              2
Meyer              2
Cali               2
Sansa              2
mad                2
Seamus             2
Frank              2
Lincoln            2
Chelsea            2
Happy              2
Titan              2
Rizzy              2
Paull              2
Moe                2
Tyrone             2
Tyr                2
Rocky              2
Sam                2
Layla              2
Stubert            2
Baloo              2
Mister             2
Atlas              2
Doc                2
Davey              2
Oshie              2
Butter             2
Anakin             2
Juno               2
Hunter             2
Marley             2
Benji              2
Philbert           2
Olivia             2
Django             2
Misty              2
Ollie              2
Phineas            2
Kenny              2
Thumas             2
Bob                2
CeCe               2
Coops              2
Chet               2
Bisquick           2
Cupcake            2
Remington          2
Chuckles           2
Curtis             2
Harper             2
Calbert            2
Bubbles            2
Ozzy               2
Smokey             2
Fl√°vio             2
Pippa              2
Panda              2
Sarge              2
Olivi√©r            2
Wally              2
Phred              2
Herald             2
Churlie            2
Lenny              2
Bernie             2
Herm               2
Kenneth            2
Sandy              2
Linda              2
Penelope           2
Kreg               2
Patrick            2
Griffin            2
Jiminy             2
Jeph               2
Hammond            2
Baxter             2
Opal               2
Brad               2
Kreggory           2
Blitz              2
Raymond            2
Luca               2
Albert             2
Eve                2
Rufus              2
Nollie             2
Lou                2
Kirby              2
Jackson            2
Dakota             2
Gromit             2
Roosevelt          2
Fizz               2
Finley             2
Solomon            2
Hurley             2
Bell               2
Dash               2
Chipson            2
Rocco              2
Watson             2
Crystal            2
Rubio              2
Terry              2
Axel               2
Charles            2
getting            2
Theodore           2
Maxaroni           2
Kilo               2
actually           2
Sugar              2
Percy              2
Shaggy             2
Abby               2
Atticus            2
Piper              2
Fred               2
Carly              2
Keith              2
Chompsky           2
Keurig             2
Eli                2
Hobbes             2
Neptune            2
Quinn              2
Belle              2
Logan              2
Moreton            2
Klein              2
Elliot             2
Trooper            2
Kyro               2
Jesse              2
Sierra             2
Romeo              2
Cash               2
Gidget             2
Albus              2
Pickles            2
not                2
Bungalo            2
Dawn               2
Cody               2
Jamesy             2
Ash                2
Stephan            2
Ava                2
Indie              2
Yogi               2
Ken                2
Pipsy              2
Kevin              2
Lilly              2
Odie               2
Astrid             2
Fiona              2
Harold             2
Jimison            2
Canela             2
Balto              2
Aspen              2
Franklin           2
Pablo              2
Gabe               2
Nelly              2
Mattie             2
Emmy               2
Benedict           2
Terrance           2
Alice              2
Hercules           2
Brooks             1
Tino               1
Tiger              1
Ralphus            1
Birf               1
Ralph              1
Tug                1
Lupe               1
Tango              1
Grizz              1
Sweets             1
Jerome             1
Kulet              1
Maisey             1
Obi                1
Crumpet            1
Lorelei            1
Bobby              1
Perry              1
Jimbo              1
Oreo               1
Gerbald            1
Marty              1
Hubertson          1
Izzy               1
Petrick            1
Jessifer           1
Bruiser            1
by                 1
Rascal             1
Emmie              1
William            1
Glacier            1
Mike               1
Chuck              1
Rinna              1
Champ              1
Willie             1
Ozzie              1
Griswold           1
Cheesy             1
Moofasa            1
such               1
Hector             1
Goliath            1
Kawhi              1
Asher              1
Apollo             1
Toffee             1
Joey               1
Banjo              1
Brandy             1
officially         1
Lulu               1
Darrel             1
Taco               1
Mingus             1
Ulysses            1
Maya               1
Evy                1
Todo               1
Tess               1
Dwight             1
Crimson            1
Roscoe             1
Sundance           1
Horace             1
Ole                1
Charl              1
Reagan             1
Yukon              1
Duddles            1
Cuddles            1
Claude             1
Jessiga            1
Carter             1
Pherb              1
Bodie              1
Blipson            1
Reptar             1
Trevith            1
Berb               1
Colin              1
Brian              1
Grady              1
Kobe               1
Miley              1
Fillup             1
Eazy               1
Dotsy              1
Chesterson         1
Lucia              1
Ralphson           1
Socks              1
Rambo              1
Rudy               1
Fiji               1
Rilo               1
Bilbo              1
Coopson            1
Yoda               1
Millie             1
Snoopy             1
Crouton            1
Daniel             1
Kaia               1
Murphy             1
Freddery           1
Dunkin             1
Mona               1
Fr√∂nq              1
Alfy               1
Lucky              1
Ferg               1
Trip               1
Grizzwald          1
Hamrick            1
Noah               1
Pubert             1
Derby              1
Tupawc             1
Tassy              1
Lizzie             1
Ember              1
Blakely            1
Marq               1
Kramer             1
Barry              1
Gordon             1
Ricky              1
Fynn               1
Durg               1
Covach             1
Amber              1
Edgar              1
Teddy              1
Kingsley           1
Brockly            1
Richie             1
Molly              1
Vinscent           1
Cedrick            1
Hazel              1
Lolo               1
Eriq               1
Rey                1
Koko               1
Oddie              1
Maxwell            1
Geoff              1
Humphrey           1
Bruno              1
Juckson            1
Sully              1
Shawwn             1
Skye               1
Kollin             1
Ronduh             1
Billl              1
Saydee             1
Dug                1
Tessa              1
Kirk               1
Andru              1
Ralf               1
Clarq              1
Jaspers            1
Samsom             1
Harrison           1
Chaz               1
Jeremy             1
Jaycob             1
Kloey              1
Julio              1
Ruffles            1
Damon              1
Jeffrie            1
Danny              1
Ester              1
Pluto              1
Bloo               1
Edd                1
Willy              1
Herb               1
Peanut             1
Raphael            1
Nigel              1
Butters            1
Sandra             1
Fabio              1
Randall            1
Liam               1
Tommy              1
Ben                1
Lambeau            1
Am√©lie             1
Chuq               1
Fwed               1
Tedrick            1
Filup              1
Kial               1
Naphaniel          1
Dook               1
Hall               1
Philippe           1
Biden              1
Genevieve          1
Erik               1
Joshwa             1
Bradlay            1
Clybe              1
Keet               1
Carll              1
Jockson            1
Josep              1
Lugan              1
Stu                1
Cleopatricia       1
Bobb               1
Jomathan           1
Banditt            1
Kevon              1
Winifred           1
Hanz               1
Darla              1
Zeek               1
Timofy             1
Maks               1
Kallie             1
Skittles           1
Marvin             1
Spark              1
G√≤rd√≥n             1
Jo                 1
DayZ               1
Jareld             1
Torque             1
Ron                1
Gin                1
Traviss            1
Creg               1
Obie               1
Chesney            1
life               1
Henry              1
Bobbay             1
Mitch              1
Kaiya              1
Acro               1
Aiden              1
Dot                1
Rodman             1
Shnuggles          1
Kendall            1
Jeffri             1
Steve              1
Mac                1
Fletcher           1
Kenzie             1
Pumpkin            1
Jonah              1
Jeb                1
Antony             1
Donny              1
Tyrus              1
Karl               1
Godzilla           1
Vinnie             1
Jim                1
Stuart             1
Bert               1
Striker            1
Pepper             1
Rufio              1
Terrenth           1
Buddah             1
Arnold             1
Zuzu               1
Mollie             1
Laela              1
Tedders            1
Superpup           1
Schnozz            1
Gustaf             1
Cheryl             1
Tanner             1
Dylan              1
space              1
Mark               1
JD                 1
Alejandro          1
Scruffers          1
Pip                1
Julius             1
Sparky             1
Ed                 1
Anthony            1
Holly              1
Jett               1
Amy                1
Sage               1
Andy               1
Mason              1
Trigger            1
Batdog             1
Mojo               1
Patch              1
Tuco               1
Leonidas           1
Norman             1
Caryl              1
Scott              1
Taz                1
Darby              1
Jackie             1
light              1
Jazz               1
Franq              1
Pippin             1
Rolf               1
Snickers           1
Ridley             1
Cal                1
Bradley            1
Bubba              1
Aja                1
Venti              1
Bode               1
Rizzo              1
Dallas             1
Hero               1
Tycho              1
Stormy             1
Mairi              1
Loomis             1
Godi               1
Margo              1
Deacon             1
Timmy              1
Brady              1
Combo              1
Mimosa             1
Jarvis             1
Jay                1
Mya                1
Strider            1
Pinot              1
Dale               1
Wesley             1
Tonks              1
Maude              1
Newt               1
Nida               1
Robin              1
Monster            1
BeBe               1
Remus              1
Mabel              1
Meera              1
Mookie             1
Mosby              1
Arlo               1
Ralphy             1
Brownie            1
Sojourner          1
Stella             1
Monty              1
Vixen              1
Barney             1
Laika              1
Iggy               1
Chevy              1
Tito               1
General            1
Rupert             1
Wiggles            1
Brudge             1
Shadoe             1
Jarod              1
Angel              1
Brat               1
Tove               1
my                 1
Aubie              1
Kota               1
Glenn              1
Shelby             1
Sephie             1
Sailor             1
DonDon             1
Huck               1
Carbon             1
Tuck               1
O                  1
Blue               1
Furzey             1
Sprinkles          1
Heinrich           1
Shakespeare        1
Cannon             1
Rontu              1
Grey               1
Georgie            1
Odin               1
Willem             1
Noosh              1
Dixie              1
Al                 1
Snoop              1
Dobby              1
Nimbus             1
Benny              1
Sweet              1
Mo                 1
Ike                1
Alf                1
Pilot              1
Pawnd              1
Chubbs             1
Sky                1
Cupid              1
Eleanor            1
Ralphie            1
Boots              1
Baron              1
Kona               1
Bauer              1
Swagger            1
Brandi             1
Mary               1
Akumi              1
Comet              1
Halo               1
Dudley             1
Harlso             1
Duchess            1
Howie              1
Jazzy              1
Anna               1
Wafer              1
Tom                1
Florence           1
Autumn             1
Dido               1
Eugene             1
Crawford           1
Strudel            1
Tebow              1
Chloe              1
Timber             1
Binky              1
Brutus             1
Augie              1
Tobi               1
Bones              1
Chef               1
Smiley             1
Sobe               1
Longfellow         1
Eevee              1
Iroh               1
Orion              1
Willow             1
Rhino              1
Poppy              1
Pancake            1
Bronte             1
Snicku             1
Gabby              1
Lipton             1
Sunshine           1
Mack               1
Mauve              1
Ronnie             1
Craig              1
Severus            1
Sailer             1
Alexander          1
Pavlov             1
Beebop             1
Doobert            1
Ito                1
Mutt               1
Pete               1
incredibly         1
Major              1
Dutch              1
Kuyu               1
Emanuel            1
Shooter            1
Miguel             1
Diogi              1
Sonny              1
Bonaparte          1
Wishes             1
Dante              1
Napolean           1
Carper             1
Bowie              1
Alexanderson       1
Suki               1
Barclay            1
Skittle            1
Ebby               1
Lassie             1
Kody               1
Link               1
Jennifur           1
Harry              1
Bluebert           1
Stephanus          1
Monkey             1
old                1
Zeus               1
Rover              1
Sid                1
Nico               1
Harnold            1
Rueben             1
Cilantro           1
Karll              1
Sprout             1
Clifford           1
Bloop              1
Lillie             1
Ashleigh           1
Rumble             1
Luther             1
Ivar               1
Jangle             1
Schnitzel          1
Berkeley           1
Ralph√©             1
Charleson          1
Clyde              1
Bertson            1
Michelangelope     1
Dewey              1
Billy              1
Rodney             1
Flash              1
Malikai            1
Bobble             1
River              1
Jebberson          1
Farfle             1
Jiminus            1
Clarkus            1
Finnegus           1
Ginger             1
Kathmandu          1
Katie              1
Kara               1
Adele              1
Zara               1
Ambrose            1
Walker             1
Karma              1
Siba               1
Vince              1
Jed                1
Travis             1
Kanu               1
Lance              1
Opie               1
Kane               1
Nugget             1
Goose              1
Staniel            1
Sora               1
Beemo              1
Gunner             1
infuriating        1
Lacy               1
Tater              1
Olaf               1
Cecil              1
all                1
Enchilada          1
Rose               1
Tayzie             1
Callie             1
Gilbert            1
Zoe                1
Stewie             1
Thor               1
Lilah              1
Spanky             1
Jameson            1
Milky              1
Blu                1
Dietrich           1
Divine             1
Tripp              1
his                1
Cora               1
Huxley             1
Tilly              1
Grizzie            1
Ace                1
Linus              1
Cermet             1
Theo               1
Rumpole            1
Fido               1
Emma               1
Spencer            1
Lilli              1
Boston             1
Brandonald         1
Corey              1
Leonard            1
Beckham            1
Dev√≥n              1
Gert               1
Einstein           1
Arya               1
Marlee             1
Dex                1
Bookstore          1
Jordy              1
Coleman            1
Bayley             1
Remy               1
Chadrick           1
Kellogg            1
Buckley            1
Livvie             1
Shikha             1
Hermione           1
Ralpher            1
Aldrick            1
this               1
unacceptable       1
Rooney             1
Ziva               1
Stefan             1
Pupcasso           1
Puff               1
Flurpson           1
Storkson           1
Lili               1
Burt               1
Simba              1
Shiloh             1
Gustav             1
Arlen              1
Lenox              1
Jersey             1
Harvey             1
Blanket            1
Zooey              1
Geno               1
Stark              1
Beya               1
Kayla              1
Edmund             1

In [16]:
tae["name"].isna().value_counts()[True]

745

I observed that there are wrong names and all wrong names starts with small letters like: `a`, `the`, `very`, `quite`, `just` and `an`.

So let's check names starts with small and capital letters. And also the NaNs.

In [17]:
tae["name"].fillna(value="nan", inplace=True)
tae["name"].str.istitle().value_counts()

name
True     1496
False     860
Name: count, dtype: int64

Notes:
  - There are about 745 null values.
  - There are also incorret names like `a`, `the`, `very`, `quite`, `just` and `an`.
  - There are 115 rows it's names is not correct.

Also I am wandring what's inside the `text` so let's take a random entry

In [18]:
tae["text"][1500]

"This is Edgar. He's a Sassafras Puggleflash. Nothing satisfies him. Not since the war. 10/10 cheer up pup https://t.co/1NgMb9BTWB"

No need to the last link, it gives me the link of the tweet

**<h3 style="border-left: 5px solid #673ab7; padding: 0 20px">Secound: Image Predection Dataset üîÆ<h3>**

In [19]:
nlp.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2075 entries, 0 to 2074
Data columns (total 12 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   tweet_id  2075 non-null   int64
 1   jpg_url   2075 non-null   object
 2   img_num   2075 non-null   int64
 3   p1        2075 non-null   object
 4   p1_conf   2075 non-null   float64
 5   p1_dog    2075 non-null   bool
 6   p2        2075 non-null   object
 7   p2_conf   2075 non-null   float64
 8   p2_dog    2075 non-null   bool
 9   p3        2075 non-null   object
 10  p3_conf   2075 non-null   float64
 11  p3_dog    2075 non-null   bool
dtypes: bool(3), float64(3), int64(2), object(4)
memory usage: 152.1+ KB

In [20]:
nlp.head() # 315

,tweet_id,jpg_url,img_num,p1,p1_conf,p1_dog,p2,p2_conf,p2_dog,p3,p3_conf,p3_dog
0,666020888022790149,https://pbs.twimg.com/media/CT4udn0WwAA0aMy.jpg,1,Welsh_springer_spaniel,0.465074,True,collie,0.156665,True,Shetland_sheepdog,0.061428,True
1,666029285002620928,https://pbs.twimg.com/media/CT42GRgUYAA5iDo.jpg,1,redbone,0.506826,True,miniature_pinscher,0.074192,True,Rhodesian_ridgeback,0.072010,True
2,666033412701032449,https://pbs.twimg.com/media/CT4521TWwAEvMyu.jpg,1,German_shepherd,0.596461,True,malinois,0.138584,True,bloodhound,0.116197,True
3,666044226329800704,https://pbs.twimg.com/media/CT5Dr8HUEAA-lEu.jpg,1,Rhodesian_ridgeback,0.408143,True,redbone,0.360687,True,miniature_pinscher,0.222752,True
4,666049248165822465,https://pbs.twimg.com/media/CT5IQmsXIAAKY4A.jpg,1,miniature_pinscher,0.560311,True,Rottweiler,0.243682,True,Doberman,0.154629,True

In [21]:
nlp[["p1_dog"	,"p2_dog"	,"p3_dog"]].value_counts()

p1_dog  p2_dog  p3_dog
True    True    True      1243
False   False   False      324
True    True    False      155
False   True    True       101
True    False   True        91
False   False   True        64
        True    False       54
True    False   False       43
Name: count, dtype: int64

Notes:
- There are about 1243 entry or 60% of dataset are predicted to be true by the the models. (Most Likely to be images of dogs) üòâ
- There are totally 411 entry are true by two models. (Almost is images of dogs) üôÇ
- There are 161 entry are true by one model only. (May be an image of dog) üòï
- 324 entry are totally false (low percentage to be an image of dog) üòü

**<h3 style="border-left: 5px solid #673ab7; padding: 0 20px">Third: Twitter Json üë®üèª‚Äçüíª<h3>**

In [22]:
twitter_df.head()

             Tweet id  Retweet count  Favorite count
0  892420643555336193           8853           39467
1  892177421306343426           6514           33819
2  891815181378084864           4328           25461
3  891689557279858688           8964           42908
4  891327558926688256           9774           41048

**<h3 style="border-left: 5px solid #673ab7; padding: 0 20px">Issues in a nutsell ü§ìü§ì<h3>**

**Quality Issues ü•á**
- `timestamp` column is string rather than datetime object
- `timestamp` must have the date only no need to the time.
- `source` column has the html anchor tage `<a>` with the link. It must be the link only.
- No need to `source` column as it's the same repeated value. No need to visit the settings page.
- There are five colums have more than 70% of it null values.
- `expanded_urls` is just this 'https://twitter.com/dog_rates/status/' with the id of the tweet. no need to it as we have the id.
- `retweeted_status_id`, `retweeted_status_user_id` and `retweeted_status_timestamp` Tells us that there are about 181 entries is just a retweet. we do not need them.
- `name` has about 745 null values
- `name` 115 rows it's names is not correct
- There are about 78 row is an replays
- Some images in Image Predection Dataset are not for dogs.

**Tidness Issues üßπ**:
- The `doggo`, `floofer`, `pupper`, and `puppo` columns are just terms that refers to the dogs 
characteristics. It must be one colum called `dog characteristics`

## 3Ô∏è‚É£ Cleaning üßº

**<h3 style="border-left: 5px solid #673ab7; padding: 0 20px">First: Twitter Archived Enhanced üöÄ<h3>**

In [23]:
cleaned_tae = tae.copy()

In [24]:
# pd.options.mode.chained_assignment = None # to prevent warnings

Let's drop any replays except column `2169`

In [25]:
cleaned_tae['in_reply_to_status_id'][2169] = np.nan # Set the column 2169 to be nan

cleaned_tae = cleaned_tae[cleaned_tae["in_reply_to_status_id"].isna()]

C:\Users\smy\AppData\Local\Temp\ipykernel_12340\285241794.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  cleaned_tae['in_reply_to_status_id'][2169] = np.nan # Set the column 2169 to be nan

Let's drop the columns that we doesn't need it.

In [26]:
cleaned_tae.drop(columns = ['in_reply_to_status_id', 'in_reply_to_user_id', 'source', 'expanded_urls'], inplace=True)

Also let's drop any retweet entry

In [27]:
cleaned_tae = cleaned_tae[cleaned_tae['retweeted_status_id'].isna()]

Then no need to `retweeted_status_id`, `retweeted_status_user_id`, and `retweeted_status_timestamp` columns

In [28]:
cleaned_tae.drop(columns = ['retweeted_status_id', 'retweeted_status_user_id', 'retweeted_status_timestamp'], inplace=True)

Convert time stamp to datetime and trim the time

In [29]:
cleaned_tae["timestamp"] = pd.to_datetime(cleaned_tae["timestamp"].str.slice(0, 10))

let's clean text column from the last link

In [30]:
cleaned_tae["text"] = cleaned_tae["text"].str[:-24]

Let's clean the `name` column

In [31]:
cleaned_tae[~cleaned_tae["name"].str.istitle()]["name"].value_counts()

name
nan             603
a                55
the               8
an                6
one               4
very              4
quite             3
just              3
CeCe              2
actually          2
getting           2
not               2
his               1
my                1
JD                1
space             1
light             1
life              1
officially        1
by                1
incredibly        1
infuriating       1
old               1
all               1
unacceptable      1
this              1
mad               1
such              1
BeBe              1
DonDon            1
DayZ              1
Name: count, dtype: int64

In [32]:
# need to replace nan values

In [33]:
cleaned_tae

,tweet_id,timestamp,text,rating_numerator,rating_denominator,name,doggo,floofer,pupper,puppo
0,892420643555336193,2017-08-01,This is Phineas. He's a mystical boy. Only eve...,13,10,Phineas,NaN,NaN,NaN,NaN
1,892177421306343426,2017-08-01,This is Tilly. She's just checking pup on you....,13,10,Tilly,NaN,NaN,NaN,NaN
2,891815181378084864,2017-07-31,This is Archie. He is a rare Norwegian Pouncin...,12,10,Archie,NaN,NaN,NaN,NaN
3,891689557279858688,2017-07-30,This is Darla. She commenced a snooze mid meal...,13,10,Darla,NaN,NaN,NaN,NaN
4,891327558926688256,2017-07-29,This is Franklin. He would like you to stop ca...,12,10,Franklin,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...
2351,666049248165822465,2015-11-16,Here we have a 1949 1st generation vulpix. Enj...,5,10,nan,NaN,NaN,NaN,NaN
2352,666044226329800704,2015-11-16,This is a purebred Piers Morgan. Loves to Netf...,6,10,a,NaN,NaN,NaN,NaN
2353,666033412701032449,2015-11-15,Here is a very happy pup. Big fan of well-main...,9,10,a,NaN,NaN,NaN,NaN
2354,666029285002620928,2015-11-15,This is a western brown Mitsubishi terrier. Up...,7,10,a,NaN,NaN,NaN,NaN
2355,666020888022790149,2015-11-15,Here we have a Japanese Irish Setter. Lost eye...,8,10,nan,NaN,NaN,NaN,NaN

First let's make a copy of tae dataframe üìÅ

## 4Ô∏è‚É£ Storing data üß†

## 5Ô∏è‚É£ Analyzing, and visualizing data üìä

## 6Ô∏è‚É£ Reporting üë®üèª‚Äçüè´üìÉ